* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #010214;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: #ffffff;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr; /* La primera columna (embudo) es más angosta, la segunda (barras de progreso) es más ancha */
    grid-template-rows: auto auto auto; /* Tres filas */
    gap: 10px;
    padding: 20px;
}

.container-bottom {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px;
} 

.box {
    background: #040627;
    padding: 20px; /* Reducir el padding para hacer el contenedor más angosto */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; /* Permitir que la altura se ajuste al contenido */
    max-height: 100%; /* Establecer una altura máxima para los contenedores de arriba */
    flex-direction: column;
}

.box2 {
    grid-column: span 2;
}

.box h2 {
    margin-bottom: 20px;
}

.progress-bars-container {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    gap: 30px;
}

.progress-bars {
    display: flex;
    flex-direction: column; 
    gap: 30px; 
    flex: 1; 
    min-width: 150px; /* Hacer las columnas más angostas */
}

.progress-container {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.progress-bar {
    background-color: #111341; 
    border-radius: 20px; 
    overflow: hidden;
    height: 22px; 
    flex-grow: 1; 
    position: relative; 
}

.progress {
    height: 100%; /* Asegúrate de que la barra de progreso ocupe el 100% de la altura */
    text-align: right; /* Alinea el texto a la derecha */
    padding-right: 10px; /* Espacio a la derecha del texto */
    line-height: 22px; /* Alinea el texto verticalmente en el centro */
    border-radius: 20px; /* Bordes redondeados */
    color: white; /* Color del texto */
}

.progress-title {
    text-align: right;
    font-weight: bold;
}

canvas {
    max-width: 100%;
    height: 300px; /* Puedes ajustar esta altura */
}

#funnelChart {
    width: 100%;
    height: 100%; /* Puedes ajustar esta altura */
}

.container .box {
    height: 400px; /* Aumentar la altura de los contenedores de abajo */
}

.container-bottom .box {
    height: 510px; /* Aumentar la altura de los contenedores de abajo */
}

@media (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .container-bottom {
        display: flex;
        flex-direction: column;
    } 
    canvas {
        max-width: 100%;
        height: 300px;
    }
    #funnelChart {
        width: 100%;
        height: 150px;
    }
}